@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-down {
  animation: slideDown 0.3s ease-in-out forwards, fadeOut 0.3s ease-in-out forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}